[alias]
  st = status
  ci = commit -s
  br = branch
  co = checkout
  df = diff
  dc = diff --cached
  lg = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  ls = ls-files

  # Show files ignored by git:
  ign = ls-files -o -i --exclude-standard
[difftool]
	prompt = false
[mergetool]
	prompt = false
[user]
	name = Jamie Winsor
	email = jamie@vialstudios.com
	signingkey = 5334E988
[color]
	ui = true
[push]
	default = simple
[core]
	editor = vim
	excludesfile = /Users/reset/.gitignore-global
[commit]
	gpgsign = true
[credential]
	helper = osxkeychain
[gpg]
	program = gpg
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
